In [1]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import zscore
import numpy as np

In [2]:
#loading data into juypter not book
df = pd.read_csv("C:/Users/Admin/Desktop/data warehouse/diabetes_unclean.csv")
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [3]:
#checking columns of the dataset
df.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [4]:
#renaming the columns in the dataset
df.rename(columns={'No_Pation':'Number of Patients'},inplace=True)
df.head()

,ID,Number of Patients,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50.0,4.7,46.0,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [5]:
#checking for missing values
df.isnull().sum()

ID                    0
Number of Patients    0
Gender                0
AGE                   1
Urea                  1
Cr                    2
HbA1c                 3
Chol                  2
TG                    2
HDL                   1
LDL                   2
VLDL                  1
BMI                   0
CLASS                 0
dtype: int64

In [6]:
mean_value = df['HbA1c'].mean()
mean_value

8.284155069582505

In [7]:
#droping missing values
df.dropna(inplace=True)
df.isnull().sum()

ID                    0
Number of Patients    0
Gender                0
AGE                   0
Urea                  0
Cr                    0
HbA1c                 0
Chol                  0
TG                    0
HDL                   0
LDL                   0
VLDL                  0
BMI                   0
CLASS                 0
dtype: int64

In [8]:
#checking information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 994 entries, 0 to 1008
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  994 non-null    int64
 1   Number of Patients  994 non-null    int64
 2   Gender              994 non-null    object
 3   AGE                 994 non-null    float64
 4   Urea                994 non-null    float64
 5   Cr                  994 non-null    float64
 6   HbA1c               994 non-null    float64
 7   Chol                994 non-null    float64
 8   TG                  994 non-null    float64
 9   HDL                 994 non-null    float64
 10  LDL                 994 non-null    float64
 11  VLDL                994 non-null    float64
 12  BMI                 994 non-null    float64
 13  CLASS               994 non-null    object
dtypes: float64(10), int64(2), object(2)
memory usage: 116.5+ KB

In [9]:
#checking for class duplicates 
df.groupby('CLASS')['CLASS'].agg('count')

CLASS
N     102
N       1
P      53
Y     830
Y       8
Name: CLASS, dtype: int64

In [10]:
duplicates = df[df.duplicated()]

In [11]:
df['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [12]:
df['CLASS'] = df['CLASS'].str.replace('N ','N')
df['CLASS'] = df['CLASS'].str.replace('Y ','Y')

In [13]:
df['CLASS'].unique()

array(['N', 'P', 'Y'], dtype=object)

In [15]:
#checking for sex duplicates 
df.groupby('S')['sex'].agg('count')

KeyError: 'Sex'